{% extends "layout.html" %} {% block title %} Deception {% endblock %} {% block
main %}

<h1>Deception at large!!!</h1>
<div class="col-8 col-sm-6 mx-auto">
    <img src="{{ url_for('static', filename='images/jon-tyson-SeojLVHZ7QY-unsplash.jpg') }}" class="rounded mx-auto d-block img-fluid" alt="Graffiti of Trump as Devil">
<span
  >Photo by
  <a
    href="https://unsplash.com/@jontyson?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
    >Jon Tyson</a
  >
  on
  <a
    href="https://unsplash.com/photos/man-with-horn-wall-painting-SeojLVHZ7QY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
    >Unsplash</a
  >
</span>
{% endblock %}
